html {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    background-color: #0C0C0C;
    color: whitesmoke;
    font-family: Helvetica, Arial,  sans-serif;
    font-size: 16px;
}

h2 {
    text-align: center;
    margin-top: 0;
    color:#F2613F;
}

h4 {
    text-align: center;
    margin-top: 0;
}

p {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 18px;
    font-size: 16px;
}

label {
    font-size: 14px;
}

.label_margin {
    margin-left: 30px;
}

.container {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid #9B3922;
    border-radius: 25px;
    background-color: #481E14;
}

.div_inline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.div_inline:nth-of-type(2) {
    margin-bottom: 20px;
}

#field_div {
    display: block;
    justify-content: center;
}

#gameField {
    display: grid;
    gap: 1px;
    justify-content: center;
    align-items: center;
    width: max-content;
    border: 2px solid #9B3922;
    background-color: #F2613F;
    border-radius: 5px;
}

.zelleStyle {
    height: 50px;
    width: 50px;
    border: 2px solid #481E14;
    border-radius: 10px;
    background-color: #9B3922;
}

.zelleStyle.besucht {
    border-color: #143e48;
    background-color: #1f6070;
}

input {
    background-color: whitesmoke;
    border-width: 2px;
    border-radius: 10px;
    color:#0C0C0C;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding-inline-start: 7px;
    margin-left: 5px;
    width: 50px;
    height: 25px;
}

button {
    display: block;
    margin: 0 auto 0 auto;
    border: 1px solid #F2613F;
    border-radius: 5px;
    background-color: #481E14;
    color: #F2613F;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #F2613F;
    border-color: #481E14;
    color: #481E14;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
  }

  #loadingAnimation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-image: url('piece@1x-1.0s-200px-200px.png'); 
    background-size: cover;
    z-index: 10000; 
    animation: spin 1s infinite linear;
    display: none; 
  }
  
  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); } 
    100% { transform: translate(-50%, -50%) rotate(360deg); } 
  }